html {
    font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

blockquote {
    margin: 0;
    margin-left: 1em;
    padding-left: 1em;
    border-left: 2px solid gray;
}

div.topbar {
    background-color: darkred;
    color: white;
    border-bottom: 1px solid pink;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.topbar a {
    color: inherit;
    text-decoration: none;
}

div.topbar div.sitename {
    font-size: 2em;
    padding: 0.5em;
}

div.topbar div.sitename > span.subtitle {
    font-size: medium;
}

div.topbar > div.sort {
    display: flex;
    padding-right: 0.5em;
}

div.topbar > div.sort > div {
    margin: 0.5em;
    padding: 0.5em;
}

div.topbar > div.sort > div.active {
    border: 1px solid white;
}

div.topbar > form {
    width: 20em;
}

div.topbar > form input {
    width: 100%;
    background-color: inherit;
    color: inherit;
    border: 1px solid white;
    border-radius: 2px;
    padding: 1em;
}

div.submissionList {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

div.submissionItem {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
}

div.thread {
    display: flex;
    flex-direction: column;
}

div.submission {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
}

div.submission div.body {
    background-color: #fafafa;
    border: 1px solid darkred;
    border-radius: 7px;
    width: 75%;
}

div.submission div.submissionInfo {
    width: 100%;
    margin-left: 2em;
}

div.submission div.submissionContent {
    display: flex;
    padding: 1em;
}

div.submission div.submissionContent > div.body {
    padding: 1em;
}

div.score {
    padding: 1em;
    font-size: small;
    font-weight: bold;
    text-align: center;
    color: darkgray;
}

div.title {
    font-weight: bold;
    font-size: 16px;
}

div.subtitle {
    color: #888;
    font-size: x-small;
}

div.subtitle a {
    color: #888;
    font-weight: bold;
}

div.comments {
    border-top: 1px solid gray;
}

div.comment {
    display: flex;
    flex-direction: column;
    margin-left: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

div.body {
    margin-left: 1em;
    margin-right: 1em;
}

div.metadata {
    font-size: small;
    color: #888;
}

div.pagination {
    margin: 1em;
}

.flair {
    font-size: small;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    background-color: #f5f5f5;
    color: #555;
    border: 1px solid #ddd;
    border-radius: 2px;
    font-weight: normal;
}

div.thread .flair {
    max-width: 10em;
    text-overflow: ellipsis;
    margin-right: 0.5em;
}

span.author {
    color: darkred;
    font-weight: bold;
}

span.url {
    font-size: x-small;
    color: #555;
}

span.url a {
    color: #555;
}

span.truncate {
    max-width: 5em;
    text-overflow: ellipsis;
}

#searchResults > div.loading {
    padding: 1em;
}
