<div class="comment" id="${args.comment.id}">
    <div class="metadata">
        <span class="author">u/${args.comment.author}</span>
        <span>${builtins.toString args.comment.score} points</span>
        <span>at ${builtins.toString args.comment.created_utc}</span>
    </div>
    <div class="body">
        ${args.comment.body}
    </div>
    <div class="subtitle">
        <a href="#${args.comment.id}">permalink</a>
    </div>
    ${lib.map (reply: args.self { comment = reply; inherit (args) self; }) args.comment.replies}
</div>
