<div class="pagination">
    <div class="nextprev">
        <span>view more:</span>
        ${if args.page == 0 then "" else ''<a href="${args.pageFn.prev}">Prev</a>''}
        ${if args.page == (builtins.floor (builtins.length args.threads / args.numPerPage)) then "" else
            ''<a href="${args.pageFn.next}">Next</a>''}
    </div>
    <div class="jumptopage">
        <span>jump to page:</span>
        ${lib.map (n: ''
        ${if args.page == n
            then ''<span>${builtins.toString (n + 1)}</span>''
            else ''<a href="${args.pageFn.jump n}">${builtins.toString (n + 1)}</a>''}
        '') (lib.lists.range 0 (builtins.floor (builtins.length args.threads / args.numPerPage)))}
    </div>
</div>
