<div class="submissionList">
    ${lib.map (submission: ''
    <div class="submissionItem">
        <div class="score">
            ${builtins.toString submission.score}
        </div>
        <div class="submissionContent">
            <div class="title">
                <a href="/archives/thread/${submission.id}">
                    ${if submission.link_flair_text != null
                    then ''<span class="flair">${submission.link_flair_text}</span>''
                    else ""}
                    <span>${submission.title}</span>
                </a>
                ${if submission.url != null
                then ''<span class="url">
                    <a href="${submission.url}">(<span class="truncate">${submission.url}</span>)</a>
                </span>''
                else ""}
            </div>
            <div class="subtitle">
                posted at ${submission.created_date}
                by <span class="author">u/${submission.author}</span>
            </div>
            <div class="subtitle">
                <a href="/archives/thread/${submission.id}">
                    ${builtins.toString submission.num_comments} comments
                </a>
                <a href="https://archive.ph/newest/https://www.reddit.com${submission.permalink}">
                    archive.ph
                </a>
            </div>
        </div>
    </div>
    '') (lib.lists.sublist (args.page * args.numPerPage) args.numPerPage args.threads)}
</div>

${args.paginationTpl { inherit (args) numPerPage threads page pageFn; }}
