<div class="thread">
    <div class="submission">
        <div class="submissionInfo">
            <div class="title">
                ${args.thread.title}
                ${if args.thread.url != null
                then ''<span class="url">
                    <a href="${args.thread.url}">(<span class="truncate">${args.thread.url}</span>)</a>
                </span>''
                else ""}
            </div>
            <div class="metadata">
                posted on ${args.thread.created_date} by
                <span class="author">u/${args.thread.author}</span>
            </div>
        </div>
        <div class="submissionContent">
            <div class="score">
                ${builtins.toString args.thread.score}
            </div>
            ${if builtins.stringLength args.thread.selftext > 0 then ''
            <div class="body">
                ${args.thread.selftext}
            </div>
            '' else ""}
        </div>
    </div>
    <div class="comments">
        ${lib.map (comment: (args.commentTpl {
        inherit comment;
        self = args.commentTpl;
        })) args.thread.comments}
    </div>
</div>
