<div class="topbar">
    <a href="/archives">
        <div class="sitename">
            r/SneerClub
            <span class="subtitle">
                archives
            </span>
        </div>
    </a>
    <form action="/archives/search" method="get">
        <input type="search"
               name="query"
               placeholder="type here and hit enter to search">
    </form>
    <div class="sort">
        <div class="${if (lib.attrsets.attrByPath ["sort"] null args) == "newest" then "active" else ""}">
            <a href="/archives">newest</a>
        </div>
        <div class="${if (lib.attrsets.attrByPath ["sort"] null args) == "bestest" then "active" else ""}">
            <a href="/archives/bestest">bestest</a>
        </div>
        <div class="${if (lib.attrsets.attrByPath ["sort"] null args) == "longest" then "active" else ""}">
            <a href="/archives/longest">longest</a>
        </div>
    </div>
</div>
